/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*Parte de arriba*/

/*Controla el margen superior*/
header {
    background-color: #007bff; /* Azul */
    color: #fff;
    padding: 10px 0;
}
.numerotel {
    
    position: relative;
    top:1px;
    left: 5px;

    font-size: 16px;
    
}
.telefono-img{
    
    position: relative;
    top:4px;
    left: 0px
}
.direccion{
    position:relative;
    top:1px;
    left: 60px;
    font-size: 16px;
}
.direccion-img{
    position:relative;
    top:1px;
    left: 60px;
    
}

.menu{
    display: flex;
    position: relative;
}
/*Parte del medio piernas y turno*/
.hero-section {
    padding-top: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #f8f9fa;
    overflow: hidden;
    margin-top: 0; /* Optional */
  }
  
  .hero-section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px 40px 20px; /* Adjust bottom padding if needed */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; /* Ensure responsiveness */
}

.hero-image {
    padding-top: 0;
    margin-top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.75; /* Slightly see-through to enhance the text on top */
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.hero-text h1 {
    font-size: 2.5rem;
    color: #003366;
}

.hero-text p {
    font-size: 1.2rem;
    color: #0056b3;
}

.cta-button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #003366;
}
/* sobre el medico */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; /* Ensure responsiveness */
}

.about-doctor {
    background-color: #f4f4f4;
    padding: 40px 0;
    color: #333;
}

.profile-photo {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1450px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.bio h2 {
    color: #0056b3;
    font-size: 2rem;
    margin-bottom: 10px;
}

.bio p {
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
}

.services {
    background-color: #fff;
    padding: 40px 0;
    text-align: center;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

h2 {
    color: #0056b3;
    font-size: 2.5rem;
}

.service-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

/* Parte de Servicios */
.service-item {
    flex-basis: 30%; 
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 8px;
    background: #f9f9f9;
}

/*Fotos de tratamientos*/
.service-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
/*Modifica la galeria de servicios*/
h3 {
    color: #003366;
    font-size: 1.5rem;
    position:relative;
    left:100px
}

p {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
}


/* Galeria de fotos */
.results-gallery {
    background-color: #fff;
    padding: 40px 0;
    text-align: center;
    color: #333;
}
.titulo1, .titulo2{
    text-align: left;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #0056b3;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery-item {
    flex-basis: 45%; /* Adjust based on screen size */
    margin: 15px;
    background: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
}

.gallery-image {
    width: 49%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
    padding-top: 10px;
}




.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #0056b3;
    font-size: 2.5rem;
    margin-bottom: 30px;
}



p {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
}
/* FOOTER */
.enlacesrapidos {
    color: #003366;
    font-size: 1.5rem;
    position: relative;
    left:-400px;
}
.site-footer {
    background-color: #003366;
    color: #fff;
    padding: 40px 0;
    font-size: 0.9rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column1 {
    flex: 1 1 200px; /* Flex basis of 200px */
    margin: 10px;
    position:relative;
    right:50px;
}
.footer-contact{
    position:relative;
    left:25px;
    top:-20px
}
.footer-links {
    list-style: none;
    position: relative;
    right: 400px;
}


.footer-links a,
.social-links a,
.legal-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover,
.social-links a:hover,
.legal-links a:hover {
    color: #f8f9fa;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}


.body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}



.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    position:relative;
    width: 185px;
    height: 50px;
    left: -35px;
    top: -10px;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}



  body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}



nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 100;
}







.site-footer {
    background-color: #0056b3;
    color: white;
    padding: 40px 0;
    font-size: 0.9rem;
}


.footer-columns {
    display: flex;
    width: 100%; /* Asegura que el contenedor de columnas use todo el ancho disponible */
    justify-content: left; /* Centra las columnas horizontalmente */
    flex-wrap: wrap;
}

.footer-column1 {
    position: relative;
    left:400px;


    text-align: left; /* Alinea el texto a la izquierda dentro de las columnas */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alineación vertical de los contenidos de la columna */
}



.footer-bottom {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}


/* Style for Dropdown Menus */
.dropdown {
    display: none; /* Hide the dropdown */
    position: absolute; /* Position it directly below the parent */
    background-color: #f9f9f9; /* Light background for the dropdown */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Add a shadow */
    z-index: 1; /* Ensure it's on top */
    color:black;
}

/* Style for Dropdown Menu Items */
.dropdown li {
    display: block; /* Dropdown items should stack vertically */
}

/* Display Dropdown on Hover */
#flebologia-menu:hover .dropdown,
#turnos-menu:hover .dropdown,
#novedades-menu:hover .dropdown {
    display: block; /* Show the dropdown when hovering */
}

/* Hover effect for main menu items */
nav li a:hover {
    background-color: #007bff; /* Darker background on hover */
    border-radius: 3px; /* Slight rounding of corners */
}

/* Optional: Add a small arrow indicator for dropdowns */
nav li:after {
    content: '▼'; /* Unicode arrow symbol */
    font-size: 10px; /* Smaller arrow */
    margin-left: 5px; /* Space it a bit from the menu text */
}

/* Reset arrow indicator for dropdown items */
.dropdown li:after {
    content: none; /* No arrows for dropdown items */
}

/* Estilo para los elementos dentro del menú desplegable */
.dropdown a {
    font-size: 15px;
    font-weight: 100;
    color: black; /* Color de texto para los enlaces desplegables */
    padding: 10px 15px; /* Espaciado para que los enlaces sean más accesibles */
    text-decoration: none; /* Eliminar el subrayado de los enlaces */
    display: block; /* Hacer que cada enlace ocupe toda la línea para un mejor área de clic */
}

/* Estilo para los elementos dentro del menú desplegable al pasar el ratón */
.dropdown a:hover {
    background-color: #afafaf; /* Color de fondo ligeramente diferente al pasar el ratón */
}

/* Ajustes globales */
* {
    box-sizing: border-box; /* Incluye padding y border dentro del ancho y alto definidos */
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Oculta el desbordamiento horizontal */
}

body, html {
    font-family: 'Poppins', sans-serif; /* Fuente consistente en toda la página */
}

/* Estilos específicos */
.hero-section {
    padding-top: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #f8f9fa;
    overflow: hidden;
}

.hero-section .container,
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.hero-text h1,
h2 {
    font-size: 2.5rem; /* Ajuste de tamaño de fuente base */
    color: #003366;
}

.hero-text p,
.bio p,
p {
    font-size: 1.2rem;
    color: black;
    line-height: 1.6;
    text-align: center;
}

/*Parte de turnos*/
.box {
    width: 600px;
    height: auto; /* Ajustar la altura según el contenido */
    background-color: white;
    border: 2px solid black;
    position: relative;
    top: 0px;
    left: 500px;
    box-shadow: 3px 3px 5px gray;
    padding: 20px; /* Espacio interno para las sub-cajas */
}
.box h2{
    font-size: 1.3rem;
}
.box p{
    font-size: 1rem;
}
.turnos {
    padding-top: 0;
    position: relative;
    width: 100%;
    height: 850px;
    background-color: #f8f9fa;
    overflow: hidden;
}

.sub-box {
    margin-bottom: 10px; /* Espacio entre sub-cajas */
    padding: 10px; /* Espacio interno dentro de cada sub-caja */
    border: 1px solid gray; /* Borde para cada sub-caja */
    background-color: #f9f9f9; /* Fondo claro para distinguir */
    
}

h2 {
    margin-top: 0;
    font-size: 1.5rem;
}

button {
    display: block; /* Para que ocupe toda la línea */
    margin-bottom: 10px; /* Espacio entre el botón y el siguiente elemento */
}

textarea {
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 60px; /* Ajusta la altura según sea necesario */
    margin-top: 10px; /* Espacio entre la dirección y el textarea */
}

.sub-box .cta-button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s;
    position: relative;
    left: 200px;
}
/*fin de parte de turnos*/



/* Media Query para dispositivos de hasta 320 píxeles */
@media (max-width: 320px) {

    .box {
        width: 300px;
        height: auto; /* Ajustar la altura según el contenido */
        background-color: white;
        border: 2px solid black;
        position: relative;
        top: 0px;
        left: 0px;
        box-shadow: 3px 3px 5px gray;
        padding: 20px; /* Espacio interno para las sub-cajas */
    }
    .box h2{
        font-size: 1.3rem;
    }
    .box p{
        font-size: 1rem;
    }
    .turnos {
        padding-top: 0;
        position: relative;
        width: 100%;
        height: 1250px;
        background-color: #f8f9fa;
        overflow: hidden;
    }
    
    button {
        display: block; /* Para que ocupe toda la línea */
        margin-bottom: 10px; /* Espacio entre el botón y el siguiente elemento */
    }
    
    textarea {
        width: 100%; /* Ocupa todo el ancho disponible */
        height: 60px; /* Ajusta la altura según sea necesario */
        margin-top: 10px; /* Espacio entre la dirección y el textarea */
    }
    
    .sub-box .cta-button {
        padding: 5px 5px;
        background-color: #0056b3;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 1.1rem;
        transition: background-color 0.3s;
        position: relative;
        left: 40px;
    }


    .logo img{
        position:relative;
        width: 100px;
        height: 30px;
        left: -35px;
        top: -45px;
    }

    nav a {
        color: white;
        text-decoration: none;
        font-weight: 10;
        font-size: 13px;
    }
    .numerotel {
    
        position: relative;
        top:15px;
        left: -35px;
        right: 25px;
        font-size: 0.8rem;
        
    }
    .telefono-img{
        
        position: relative;
        top:25px;
        left: -35px;
        right: 30px;
    }
    .direccion{
        position:relative;
        top:15px;

        right: 10px;
        left: 30px;
        font-size: 0.8rem;
    }
    .direccion-img{
        position:relative;
        top:18px;
        right: 10px;
        left: 28px;
        font-size: 13px;
    }
    
    .menu{
        display: flex;
        position: relative;
        
    }

    .hero-section {
        height: auto;
    }

    .hero-text h1 {
        font-size: 1rem;
    }
    .cta-button:hover {
        background-color: #003f7e;

    }
    .bio h2 {
        color: #0056b3;
        font-size: auto;
    }

    .hero-text p,
    .bio p,
    p {
        font-size: 0.8rem;
        text-align: center;
        color:black;
    }

    h2 {
        font-size: 1.3rem;
    }

    .profile-photo,
    .service-image,
    .gallery-image,
    .article-image {
        width: 80%;
        height: auto;
    }

    .service-item,
    .gallery-item,
    .article-item {
        flex-basis: 100%;
        margin: 5px 0;
    }

    .cta-button,
    .read-more {
        font-size: 0.8rem;
        padding: 8px 16px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }

    .footer-columns,
    .footer-column1 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .titulo1, .titulo2{
        text-align: center;
        font-size: 1.3rem;
        left:0px;
    }
    h3.contacto{
        position: relative;
        right: 0px;
        top:0px;
        font-size: 1rem;
        left:-400px;
        text-align: left;
    }
    ul.footer-contact{
        position: relative;
        left: -420px;
        right: 0;
        top:0px;
        font-size: 0.8rem;
    }
    .enlacesrapidos{
        position: relative;
        left: 0;
        right: 0;
        top:0px;
        font-size: 1rem;
    }
    .footer-links{
        position: relative;
        left: -30px;
        top:0px;
        font-size: 0.8rem;
    }
    .footer-bottom p{
        position: relative;
        bottom:1px;
    }

}

@media (min-width: 321px) and (max-width: 376px){
    /*Parte de turnos*/
.box {
    width: 375px;
    height: auto; /* Ajustar la altura según el contenido */
    background-color: white;
    border: 2px solid black;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 3px 3px 5px gray;
    padding: 20px; /* Espacio interno para las sub-cajas */
}
.box h2{
    font-size: 1.3rem;
}
.box p{
    font-size: 1rem;
}
.turnos {
    padding-top: 0;
    position: relative;
    width: 100%;
    height: 1250px;
    background-color: #f8f9fa;
    overflow: hidden;
}

.sub-box {
    margin-bottom: 10px; /* Espacio entre sub-cajas */
    padding: 10px; /* Espacio interno dentro de cada sub-caja */
    border: 1px solid gray; /* Borde para cada sub-caja */
    background-color: #f9f9f9; /* Fondo claro para distinguir */
    
}


button {
    display: block; /* Para que ocupe toda la línea */
    margin-bottom: 10px; /* Espacio entre el botón y el siguiente elemento */
}

textarea {
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 60px; /* Ajusta la altura según sea necesario */
    margin-top: 10px; /* Espacio entre la dirección y el textarea */
}

.sub-box .cta-button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s;
    position: relative;
    left: 75px;
}
/*fin de parte de turnos*/
    .logo img{
        position:relative;
        top:-13px;
    }
    .menu{
        font-size: 0.8rem;
    }
    .numerotel{
        top:18px;
        font-size: 0.8rem;
        position: relative;
        left:-50px;
    }
    .telefono-img{
        top: 23px;
        position: relative;
        left:-55px;
    }
    .direccion{
        position:relative;
        top:15px;

        right: 0px;
        left: 30px;
        font-size: 0.8rem;
    }
    .direccion-img{
        position:relative;
        top:18px;
        right: 10px;
        left: 28px;
        font-size: 13px;
    }
    h3.titulo1, h3.titulo2{
        position: relative;
        left:0px;
    }
    h3.contacto{
        position: relative;
        right: 0px;
        top:0px;
        font-size: 1rem;
        left:-400px;
        text-align: left;
    }
    ul.footer-contact{
        position: relative;
        left: -420px;
        right: 0;
        top:0px;
        font-size: 0.8rem;
    }
    .enlacesrapidos{
        position: relative;
        left: 0;
        right: 0;
        top:0px;
        font-size: 1rem;
    }
    .footer-links{
        position: relative;
        left: -30px;
        top:0px;
        font-size: 0.8rem;
    }
    .footer-bottom p{
        position: relative;
        bottom:1px;
    }
}

@media (min-width: 376px) and (max-width: 425px){
       /*Parte de turnos*/
.box {
    width: 375px;
    height: auto; /* Ajustar la altura según el contenido */
    background-color: white;
    border: 2px solid black;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 3px 3px 5px gray;
    padding: 20px; /* Espacio interno para las sub-cajas */
}
.profile-photo {
    width: 350px;
    height: 350px;
    left:0px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.box h2{
    font-size: 1.3rem;
}
.box p{
    font-size: 1rem;
}
.turnos {
    padding-top: 0;
    position: relative;
    width: 100%;
    height: 1250px;
    background-color: #f8f9fa;
    overflow: hidden;
}

.sub-box {
    margin-bottom: 10px; /* Espacio entre sub-cajas */
    padding: 10px; /* Espacio interno dentro de cada sub-caja */
    border: 1px solid gray; /* Borde para cada sub-caja */
    background-color: #f9f9f9; /* Fondo claro para distinguir */
    
}


button {
    display: block; /* Para que ocupe toda la línea */
    margin-bottom: 10px; /* Espacio entre el botón y el siguiente elemento */
}

textarea {
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 60px; /* Ajusta la altura según sea necesario */
    margin-top: 10px; /* Espacio entre la dirección y el textarea */
}

.sub-box .cta-button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s;
    position: relative;
    left: 75px;
}
/*fin de parte de turnos*/
    .logo img{
        position:relative;
        top:-13px;
    }
    .menu{
        font-size: 0.8rem;
    }
    .numerotel{
        top:18px;
        font-size: 0.8rem;
        position: relative;
        left:-55px;
    }
    .telefono-img{
        top: 23px;
        position: relative;
        left:-60px;
    }
    .direccion{
        position:relative;
        top:15px;

        right: 0px;
        left: 30px;
        font-size: 0.8rem;
    }
    .direccion-img{
        position:relative;
        top:18px;
        right: 10px;
        left: 28px;
        font-size: 13px;
    }
    h3.titulo1, h3.titulo2{
        position: relative;
        left:0px;
    }
    h3.contacto{
        position: relative;
        right: 0px;
        top:0px;
        font-size: 1rem;
        left:-400px;
        text-align: left;
    }
    ul.footer-contact{
        position: relative;
        left: -420px;
        right: 0;
        top:0px;
        font-size: 0.8rem;
    }
    .enlacesrapidos{
        position: relative;
        left: 0;
        right: 0;
        top:0px;
        font-size: 1rem;
    }
    .footer-links{
        position: relative;
        left: -30px;
        top:0px;
        font-size: 0.8rem;
    }
    .footer-bottom p{
        position: relative;
        bottom:1px;
    }
    h3.titulo1, h3.titulo2{
        position: relative;
        left:0px;
    }
}
@media (min-width: 425px) and (max-width: 768px){
    /*Parte de turnos*/
.box {
    width: 425px;
    height: auto; /* Ajustar la altura según el contenido */
    background-color: white;
    border: 2px solid black;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 3px 3px 5px gray;
    padding: 20px; /* Espacio interno para las sub-cajas */
}
.box h2{
    font-size: 1.3rem;
}
.box p{
    font-size: 1rem;
}
.turnos {
    padding-top: 0;
    position: relative;
    width: 100%;
    height: 1250px;
    background-color: #f8f9fa;
    overflow: hidden;
}

.sub-box {
    margin-bottom: 10px; /* Espacio entre sub-cajas */
    padding: 10px; /* Espacio interno dentro de cada sub-caja */
    border: 1px solid gray; /* Borde para cada sub-caja */
    background-color: #f9f9f9; /* Fondo claro para distinguir */
    
}


button {
    display: block; /* Para que ocupe toda la línea */
    margin-bottom: 10px; /* Espacio entre el botón y el siguiente elemento */
}

textarea {
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 60px; /* Ajusta la altura según sea necesario */
    margin-top: 10px; /* Espacio entre la dirección y el textarea */
}

.sub-box .cta-button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s;
    position: relative;
    left: 95px;
}
/*fin de parte de turnos*/
.logo img{
    position:relative;
    top:-13px;
}
.menu{
    font-size: 0.8rem;
}
.numerotel{
    top:18px;
    font-size: 0.8rem;
    position: relative;
    left:-55px;
}
.telefono-img{
    top: 23px;
    position: relative;
    left:-60px;
}
.direccion{
    position:relative;
    top:15px;

    right: 0px;
    left: 30px;
    font-size: 0.8rem;
}
.direccion-img{
    position:relative;
    top:18px;
    right: 10px;
    left: 28px;
    font-size: 13px;
}
h3.titulo1, h3.titulo2{
    position: relative;
    left:0px;
}
h3.contacto{
    position: relative;
    right: 0px;
    top:0px;
    font-size: 1rem;
    left:-400px;
    text-align: left;
}
ul.footer-contact{
    position: relative;
    left: -420px;
    right: 0;
    top:0px;
    font-size: 0.8rem;
}
.enlacesrapidos{
    position: relative;
    left: 0;
    right: 0;
    top:0px;
    font-size: 1rem;
}
.footer-links{
    position: relative;
    left: -30px;
    top:0px;
    font-size: 0.8rem;
}
.footer-bottom p{
    position: relative;
    bottom:1px;
}
h3.titulo1, h3.titulo2{
    position: relative;
    left:0px;
}
}
